* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
}
.secao {
  padding: 100px 0;
  background-color: green;
  height: 100vh;
}
.container {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto;
  padding: 0 2%;
  display: flex;
  justify-content: center;
}
.map-wraper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  color: black;
  padding: 0 10px;
}
.map-wraper h2 {
  font-size: 23px;
  font-weight: lighter;
}
.map-wraper-3 {
  position: relative;
  width: 100%;
  padding-top: 100%;
}
#mapa_teste {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 5px solid rgb(200, 200, 200);
}
